body {
    
    margin: 0;
    height: 1080px;
    width: 100%;
    background-image: url('slider-1920x715.jpg');
    background-repeat: no-repeat;
    background-color: black;
}

#logo img{
  height: 10%;
  width: 10%;
  padding: 0;
  margin-left: 43%;

}
#top{
   
    width: 100%;
    height: 70%;
    
    
    
}
#top  > h1 {
    padding-top: 3%;
    font-size: 80px;
    margin-left: 13%;
    width: fit-content;
    margin-bottom: 3%;
    font-family: Outfit,sans-serif;
    
}
#top > p{
    width: 25%;
    color: rgba(248, 248, 248, 0.644);
    margin-left: 13%;
    
}

#mainicon{
    width: 20%;
    height: 40%;
    float:right;
    margin-right: 25%;
    margin-top: -5%;
}
#navbar{
  
    border-top: 1px solid #c5b7b53f;
    border-bottom: 1px solid #c5b7b53f;
    width: 100%;
    height: 6%;
    margin-top: 1%;
}
#navbar>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: relative;
    margin-left: -5%;
    padding: 1.25%;
}
#navbar >ul>li{
    color: white; 
}
#navbar >ul >li >a {
    
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Outfit,sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
#brands{
    width: 100%;
    
}
 #brands > img{
    margin-left: 33%;
    margin-top: -10%;
    padding-bottom: 10px;
 }

#preshow{
    width: 100%;
    
    height: 50%;
    margin-top: -3%;
    
    
}
#preshow> h1 {
    padding-top: 3%;
    font-size: 40px;
    margin-left: 13%;
   width: fit-content;
    
    font-family: Outfit,sans-serif;
    
}
.column {
    display: flex;
    float: left;
    width: 317px;
    margin-top: 1%;
    margin-left: 2%;
    height: 583px;
    background: linear-gradient(148deg, rgba(1, 152, 255, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
    margin-bottom: 10%;
    border-radius: 0 8px;
    transition: all .3s ease;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    border-radius: 14px;
    position: relative;
    z-index: 1;
    
  }
  
 
  .row:after {
    
    content: "";
    display: flex;
    clear: both;
  }
  #name{
    text-align: left;
    
    font-weight: 600;
    font-size: 35px;
    height: auto;
    color: white;
    font-family: Outfit,sans-serif;
    


  }

.form-select{
    background-color: transparent;
    border-color: #838383;
    color: #838383;
    border-radius: 0 10px;
    font-size: 10px;
    margin-left:20%;
    width: 55%;
    height: 6%;
}
#price{
  font-weight: 600;
  position: absolute;
  font-family: Outfit,sans-serif;
  font-size: 30px;
  color: white;
  align-self: baseline;
  margin-left: 4%;
  margin-top: 25%;
 
}
#price2{
  width: fit-content;
  font-weight: 600;
  font-family: Outfit,sans-serif;
  font-size: 30px;
  color: white;
  align-self: baseline;
  margin-left: 4%;
  
 
}

.categories{
  float: left;
  
  background: linear-gradient(to bottom, black 40%, white 0%);
  width: 100%;
  margin-top: 5%;
  padding-left: 13%;
  display: flex;
}

.buttons > button{
  background: transparent;
font-size: 18px;
  border-color: #838383;
  color: #838383;
  border-radius: 0 10px;
  color: black;
  display: block;
    padding: 12px 38px;
    border-radius: 0px 30px;
    margin-bottom: 26px;
    margin-top: 26px;
    border: 1px solid #838383;
  width: 100%;
  height: 8%;
  margin-top: 10%;
}
.buttons{
  width: 17%;
}
.categoriesshow > .column > form{
  width: 310px;
  height: 415px;
  text-align: center;
  border:1px solid;
  border-image: linear-gradient(to right, #0098FF, #7C34C8);
  border-image-slice: 1;

  
}

.categoriesshow > .column > form > img{
  max-width: 200px !important;
  padding-top: 14%;

}
.categoriesshow > .column > form>#name{
  font-size: 25px;
  margin-top: 7%;
}
.categoriesshow >.column{
  margin-left: 0;
  width: 345px;
  margin-bottom: 0;
  height: auto;
}

.categoriesshow{
  margin-left: 2%;
}
body > div.categories > div.categoriesshow > div:nth-child(1) > form > select{

  margin-left: 0;
}







/*












  
















  
















  
















  
















  
















  
















  
















  
  
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: rgb(0, 0, 0);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
    &::-ms-expand {
      display: none;
    }
    
    &:focus {
      outline: none;
    }
   
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }
  :root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: rgb(5, 5, 5);
    --select-bg: rgba(255, 255, 255, 0.2);
  }